<div>
    <a asp-action="Add" asp-controller="Book">
        <button type="button" class="btn btn-success">Add Book</button>
    </a>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>
                        <a asp-action="Edit" asp-route-Id="@book.Id">
                            <button type="button" class="btn btn-warning">Edit</button>
                        </a>
                        <a asp-action="Delete" asp-route-Id="@book.Id">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>